<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Technical Test</a>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Visible Widgets", "/dashboard/get_widgets", method: "get", class: "nav-link #{!@myWidgets && !@otherUser ? 'active' : ''}" %>
    </li>
    <% if @user %>
      <li class="nav-item">
        <%= link_to "My Widgets", "/dashboard/get_widgets?my_widgets=true", method: "get", class: "nav-link #{@myWidgets ? 'active' : ''}" %>
      </li>
    <% end %>
    <% if @user && @otherUser %>
      <li class="nav-item">
        <%= link_to "#{@otherUser['first_name']} #{@otherUser['last_name']}'s' Widgets", "#", method: "get", class: "nav-link active" %>
      </li>
    <% end %>
  </ul>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @user ? "#{@user['first_name']} #{@user['last_name']}" : 'Login/Register' %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if @user %>
            <a class="dropdown-item" data-toggle="modal" data-target="#userModal">Update Profile</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#changePasswordModal">Change Password</a>
            <%= link_to "Logout", "/authentication/logout", method: "post", remote: true, class: 'dropdown-item' %>
          <% else %>
            <a class="dropdown-item" data-toggle="modal" data-target="#loginModal">Login</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#registerModal">Register</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#resetPasswordModal">Forgot Password</a>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <br>
  <nav class="navbar navbar-light bg-light">
    <% if @user && @myWidgets %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createWidgetModal">Create Widget</button>
    <% end %>  
    <%= form_tag({controller: 'dashboard', action: "get_widgets"}, class: 'form-inline my-2 my-lg-0', method: "get", remote: true) do %>
      <% if @myWidgets %>
        <%= hidden_field_tag :my_widgets, true %>
      <% end %>
      <% if @otherUser %>
        <%= hidden_field_tag :user_id, @otherUser['id'] %>
      <% end %>
      <%= text_field_tag(:term, '', class: 'form-control mr-sm-2', placeholder: 'Search') %>
      <%= submit_tag("Search", :class => 'btn btn-outline-success my-2 my-sm-0') %>
    <% end %>
  </nav>
  <br>  
  <div class="row" id="widgets">
    <%= render :partial => 'partials/widgets' %> 
  </div>
</div>

<%= render :partial => 'partials/login' %>

<%= render :partial => 'partials/register' %>

<% if @user %>
  <%= render :partial => 'partials/user' %>
<% end %>

<%= render :partial => 'partials/change_password' %>

<%= render :partial => 'partials/reset_password' %>

<%= render :partial => 'partials/create_widget' %>

<div class="modal fade" id="userIdModal" tabindex="-1" role="dialog" aria-labelledby="userIdModalLabel" aria-hidden="true">
</div>
